[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
six = "*"
wxpython = "*"
scons = "*"
comtypes = "*"
"pywin32" = "*"
pyserial = "*"
configobj = {ref = "5b5de48a", git = "https://github.com/DiffSK/configobj.git"}

[dev-packages]

[requires]
python_version = "3.7"
